body {
  margin: 0;
  font-family: "Inter", Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 3px 2px 5px #23a6d5;
  background: rgba(255, 255, 0, 0.24);
}

::-webkit-scrollbar-thumb {
  background: #23a6d5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2bc1f8;
}
.header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bg-design {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
  padding: 5px;
  border: 5px dashed #23a6d5;
}

.logo span {
  font-size: 20px;
  font-style: italic;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.menu img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 210, 210);
  padding: 10px;
  width: 150px;
  position: absolute;
  right: 0;
  top: 70px;
  margin-right: 20px;
  z-index: 1;
}

.menu-content a {
  text-decoration: none;
  color: black;
  line-height: 30px;
}

.menu-content a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text-and-input {
  display: flex;
  align-items: center;
}

.text-and-input span {
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

.input-and-search {
  display: flex;
  position: relative;
}

#input {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 30px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}
#input :focus {
  border: 2px solid #000;
  border-radius: 4px;
}

.image {
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 5px;
}

#container {
  background-image: url(./img/book.jpg);
  padding: 50px;
  min-height: calc(100vh - 400px);
  background-color: red;
}

#search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0;
  border: 3px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
  border-radius: 10px;
  color: white;
}

.box {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  overflow-y: auto;
}

.box ul {
  list-style-type: square;
}

#search-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.d-none {
  display: none;
}

.footer {
  height: 150px;
  background-color: rgb(52, 58, 64);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .input-and-search input {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .text-and-input {
    display: flex;
    flex-direction: column;
  }
  .header {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .text-and-input {
    margin: 40px 0 40px 0;
  }
  .text-and-input span {
    padding-bottom: 20px;
  }
  .menu {
    display: none;
  }
  .search-result {
    font-size: 20px;
    padding: 10px;
  }
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    margin: 0 0 5px 0;
  }
}
